@import 'styles/colors.scss'; 

.container {
  min-height: 100vh; 
	margin: 0 auto; 
  background: white; 
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
	max-width: 60rem;
	margin: 0 auto; 
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
	width: 100%; 

	.topHeader { 
		position: absolute;
		left: 0; 
		top: 0; 
		display: flex;
		font-size: 11pt; 
		background: $darkgray; 	
		color: $secondary; 
		width: 100vw;
		height: 40px; 
		justify-content: center;
		align-items: center;

		span { 
			padding: 0 0.5rem;
		}

		.icons { 
			margin: 0 0.5rem; 
		}

	}

	.navBar { 
		display: flex;
		width: 100%; 
		margin: 2rem 2rem 0 0; 
		padding: 2rem 0 0 0; 
		justify-content: space-between; 

		.logo { 
			padding: 0 1rem;
		}

		a { 
			font-size: 12pt; 
			margin: 0 0.5rem; 
			text-decoration: none;
			color: $gray;
			text-transform: uppercase; 
			font-weight: semibold; 
		}

		.navLinks { 
			padding: 0.5rem 1rem 0 0; 
			a:hover { 
				border-bottom: 2px solid $gray;
				font-weight: bold; 
				width: fit-content; 
			}
		}
	}
}


.main {
  flex: 1 1 auto;
  height: 100%; 
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem; 
}

.footer{
	margin: 2rem 0 0 0; 
  height: 5rem; 
  border-top: 2px solid lightgray; 
  display: flex;
  align-items: center;
  justify-content: center;
}
